.form-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .login-image {
    background-position: center;
    background-size: cover;
}
.modal.show .modal-dialog {
    transform: none;
    top: 9%;
    left: 9%;
}
.modal.show{
    background: #434242d6;
}